/*BODY*/
body{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}

/*HEADER*/
header > nav > ul {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
}

header > nav > ul > li {
  flex-basis: 25vw;
  flex-grow: 1;
  border: solid medium darkviolet;
  text-align: center;
  padding: 0.3em;
}

header, footer {
  flex-basis: 100vw;
  flex-grow: 1;
  padding-bottom: : 0.5em;
}

header > img {
  width: 100%;
}

/*MAIN*/
main > ul> li {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1em;
}

main > ul> li>ul {
  flex-basis: 100%;
  padding-left: 0;
}

main {
  flex-basis:70vw;
  flex-grow: 1;
}

main > ul {
  padding-left: 0;
}

main img {
  width: 50%;
  height: 20%;
}

li#padding_first {
  padding-left: 2em;
  padding-right: 0em;
}

li#padding_two {
  padding-left: 0;
  padding-right: 2em;
}

/*ASIDE*/
aside {
  flex-basis: 20vw;
  flex-grow: 1;
  border: solid thin darkviolet;
  border-radius: 10px; 
  margin-left: 2em;
  padding: 0.5em;
  margin-bottom: 2em;
}

section#lien_reseau {
  display: flex;
  flex-wrap: wrap;
}

section#lien_reseau > h2 {
  flex-basis: 100%;
}

section#lien_reseau > a {
  flex-basis: 100%;
}

/*FOOTER*/
footer {
  border: solid medium violet;
  border-radius: 5px;
  margin-top: 0.5em;
  padding-left: 2em;
}
