@media screen and (max-width: 1024px) {
    body {
        display: block;
    }
    main > ul> li {
        display: block;
        padding-bottom: 1em;
        transition-duration: 0.5s;
    }
    main img {
        display: block;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        transition-duration: 0.5s;
    }
    li#padding_first {
        padding: 0;
    }
    li#padding_two {
        padding: 0;
    }
    aside {
        margin: 0;
        display: block;
        height: 100%;
    }
    header li:nth-child(1) {
        border-radius: 10px 0px 0px 10px;
        transition-duration: 0.5s;
    }
    
    header li:nth-child(5) {
        border-radius: 0px 10px 10px 0px;
        transition-duration: 0.5s;
    }
}