header li:hover {
  background: rgba(255, 0, 255, 0.2);
  cursor: pointer;
  transition-duration: 0.1s; 
}

li{
  list-style-type: none;
}

body {
  font-family: arial;
  font-weight: bold;
}

li#perso {
  background: rgba(255, 0, 255, 0.2);
  
}

main img {
  border-radius: 10px;
  box-shadow: 2px 2px pink;
}

a {
  text-decoration: none;
}

aside img {
  width: 0.8em
}